<!DOCTYPE html>
<html ng-app="lab22">
  <head>
    <title>Lab22</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="bundle.css" />
  </head>

  <body>
    <main ng-controller="ListController as listCtrl">
      <form class="form-block" novalidate ng-submit="listCtrl.createList(listCtrl.list)">

        <div class="form-group">
          <label for="blogName">Title: </label>
          <input name="blogName" type="text" class="form-control" ng-model="listCtrl.list.title" />
          <label for="body">Body:</label>
          <input name="body" class="form-control" ng-model="listCtrl.list.body" />
        </div>

        <button type="submit" class="btn btn-default"> + </button>

      </form>

      <ul>
        <li ng-repeat="post in listCtrl.lists track by item.id">
          {{item.title}}
          <ul>
            <li>
              {{item.body}}
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
</html>
